body{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

nav{ 
    background-color: rgb(63, 10, 94);
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 10px;
    margin-bottom: 40px;
    padding: 20px 0px;

}

h1{
    margin: 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 40px 0px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}

.tarjeta{
    background-color: indigo;
    color: white;  
    width: 700px;
    display: flex;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgb(88, 1, 88);
    overflow: hidden;
}

.personaje{ 
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

